<div class="session-card">

  <div 
    class="card-content w-full" 
    @click="openSessionDetailsModal(session)">
    <h3 class="session-title text-color-1 leading-tight" x-text="session.name"></h3>

    <div  class="session-metadata mb-1">  
      <div class="badge-live mr-2" x-show="session.nextOccurrence < CURRENT_TIME_STRING">Live</div>

      <div x-text="window.getLocalDayOfWeekFromDateString(session.nextOccurrence)" x-show="!isInNext24Hours(session.nextOccurrence)" class="mr-1"></div>

      <div class="text-primary mr-1 whitespace-no-wrap" x-show="session.nextOccurrence > CURRENT_TIME_STRING" x-text="getLocalTimeFromDateString(session.nextOccurrence)">
      </div>

      <div class="mr-1" x-show="session.nextOccurrence > CURRENT_TIME_STRING && isInNext24Hours(session.nextOccurrence)">•</div>

      <div class="session-time-relative text-color-3" x-show="isInNext24Hours(session.nextOccurrence)">
        <span x-text="session.nextOccurrence < CURRENT_TIME_STRING ? 'started' : 'starting'"></span>
        <span class="text-primary" x-text="timeDifference(new Date(), session.nextOccurrence, {displayMode: 'full', sign: 'text'})"></span>
      </div>
    </div>
  </div>

  <div class="flex items-center h-full">
    <button 
    title="Show meeting info"
    aria-label="Show meeting info"
    class="fixed-width pl-3 mr-4 h-full"
    onclick="window.fathom?.trackGoal('8J0TYIPR', 0);"
    @click="openSessionDetailsModal(session)">
    <!-- <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4E54C8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
    </div> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--color-text-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
 </button>

 

    <a 
      title="Join meeting"
      target="_blank"
      rel="noopener noreferrer"
      x-show="!session.connectionDetails.mustContactForConnectionInfo &amp;&amp; session.connectionDetails.joinUrl" 
      x-bind:href="session.connectionDetails.joinUrl" 
      onclick="window.fathom?.trackGoal('ADSVR9K2', 0);"
      class="button fixed-width mr-2 sm:mr-4"
      :class="session.connectionDetails.platform == 'email' ? 'secondary' : 'primary'"
      x-text="getJoinButtonTextForMeetingType(session.connectionDetails.platform)"
      >
    </a>

  

    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right opacity-50"><polyline points="9 18 15 12 9 6"></polyline></svg> -->
  </div>
</div>
