<div class="swipeable-bottom-sheet">
  <div class="bg" :class="{'active': virtualPage === 'sessionDetails'}" @click="closeSessionDetailsModal()"></div>

  <div class="card open" 
    id="session-details-card"
    x-show.transition.opacity="virtualPage === 'sessionDetails'"
    @click.away="closeSessionDetailsModal()"
    >
    <div class="mt-2">
      <div class="bar"></div>

      <div class="contents"> 
        <div class="mx-6 mt-4">
          <div class="mt-4 flex items-center uppercase">
            <div class="badge-live mr-2" x-show="selectedSession.nextOccurrence < CURRENT_TIME_STRING">Live</div>
            <div class="session-time-relative text-color-3 tracking-wide text-xs">
              <span x-text="selectedSession.nextOccurrence < CURRENT_TIME_STRING ? 'started' : 'starting'"></span>
              <span class="text-primary" x-text="timeDifference(new Date(), selectedSession.nextOccurrence, {displayMode: 'full', sign: 'text'})"></span>
            </div>
          </div>

          <h3 class="session-title text-color-1 text-2xl leading-tight mt-2 mb-1 md:text-3xl md:mt-3 md:mb-2" x-text="selectedSession.name"></h3>

          <div class="text-color-3 opacity-75 text-md">
            <span>
              Every 
              <span x-text="window.getLocalDayOfWeekFromDateString(selectedSession.nextOccurrence)"></span>
            </span>
            <span>•</span>
            <span x-text="getLocalTimeFromDateString(selectedSession.nextOccurrence)"></span>
          </div>

        </div>
  
        <div class="mt-4 mb-4 mx-4 flex justify-between" x-show="!selectedSession.connectionDetails.mustContactForConnectionInfo" >
          
          <button 
            id="selected-session-copy-details-button"
            class="button medium borderless"
            onclick="window.fathom && window.fathom.trackGoal('ZBM3Q0VV', 0);"
            :data-clipboard-text="'Join ' + selectedSession.name + (selectedSession.nextOccurrence < CURRENT_TIME_STRING ? ', started ' : ', starting ') + (timeDifference(new Date(), selectedSession.nextOccurrence, {displayMode: 'full', sign: 'text'})) + '\n' + selectedSession.connectionDetails.joinUrl + '\n' + 'Meeting ID: ' + selectedSession.connectionDetails.meetingId + '\nPassword: ' + selectedSession.connectionDetails.password">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
            <span class="ml-1">Copy</span>
          </button>
          <!-- Doon't forget to add .button-divider to the previous button-->

           <!-- <button id="selected-session-copy-link-button" class="button  medium borderless" @click="downloadCalendarEvent(selectedSession)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
            <span class="ml-1">Remind&nbsp;Me</span>
          </button> -->

           <div class="atcb" style="display:none;" x-text='calendarEventJson' onclick="window.fathom && window.fathom.trackGoal('H4ZIF5ZH', 0);"></div>

          <a
            x-show="selectedSession.connectionDetails.joinUrl"
            id="selected-session-join-url"
            target="_blank"
            rel="noopener noreferrer"
            :href="selectedSession.connectionDetails.joinUrl"
            class="button button-primary large px-6 sm:px-2"
            onclick="window.fathom && window.fathom.trackGoal('8CCK8QRY', 0);">

            <svg x-show="selectedSession.connectionDetails.platform == 'phone-number'" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>

            <svg x-show="selectedSession.connectionDetails.platform != 'phone-number'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>

            <span class="mx-2"
            x-text="selectedSession.connectionDetails.platform == 'phone-number' ? 'Call&nbsp;›' : 'Join&nbsp;›'"
            >Join&nbsp;›</span>
          </a>
        </div>
     
      </div> 
   
      <div class="mt-3 px-4 py-3 text-xl background-light">
        <div class="mb-4 flex justify-between" :data-clipboard-text="selectedSession.connectionDetails.meetingId">
          <strong class="mr-2" x-text="selectedSession.connectionDetails.platform == 'phone-number' ? 'Phone number' : 'Meeting ID'"></strong>
          <div class="text-primary" x-text="selectedSession.connectionDetails.meetingId">123 456 890</div>
        </div> 
        <div class="flex justify-between" :data-clipboard-text="selectedSession.connectionDetails.password">
          <strong class="mr-2" x-text="selectedSession.connectionDetails.platform == 'phone-number' ? 'Access code' : 'Password'"></strong> 
          <div class="text-primary" x-text="selectedSession.connectionDetails.password">2020</div>
        </div>
      </div>  
    
      <div class="mx-6 mt-3 mb-6" x-show="selectedSession.notes">
        <h4 class="uppercase text-color-2 mb-1 mt-2 text-sm">Notes</h4>
        <div x-text="selectedSession.notes" class=""></div>
      </div>

      <div class="mx-6 mt-3">
        <h4 class="uppercase text-color-2 mb-1 mt-2 text-sm">Contact</h4>
        <div x-text="selectedSession.contactInfo" class=""></div>
        <div x-show="!selectedSession.contactInfo" class="opacity-75">
          🤷‍♂️ No contact info provided. 
        </div>
      </div>

      <!-- <div class="mx-6 mt-3">
        <h4 class="uppercase text-color-2 mb-1 mt-2 text-sm">Debug</h4>
        <div x-text="JSON.stringify(selectedSession)" class=""></div>
      </div> -->
  
      <div class="flex flex-col items-center">
      
        <a target="_blank"
          rel="noopener noreferrer"
          onclick="window.fathom && window.fathom.trackGoal('BXWNURYL', 0);"
          :href="'mailto:$FEEDBACK_EMAIL_ADDRESS ?subject=[Feedback]: \'' + selectedSession.name + '\' - ' + window.convertTZ(selectedSession.nextOccurrence, 'America/New_York')  + ' (User: ' + getCurrentTimeZoneString() + ') '" class="button-secondary medium transform translate-y-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
          <span class="ml-2">Send&nbsp;Feedback</span>
        </a>
  
        <div class="accent-color-bar"></div>
      </div>
      </div>
  </div>
</div>