$color-primary: #4E54C8;
$color-primary__hover: #3036a3;
$color-secondary: #8F94FB;
$color-background: #F8F8FD;

$color-background-2: #fafafa;
$color-background-3: #F3F3FB;

$color-text-1: #161737;
$color-text-2: #4B4D6B;
$color-text-3: #737487;

$color-success-1: #32BD2F;
$color-danger-1: #C84E4E;

$brand-gradient: linear-gradient(90deg, #4E54C8, #8F94FB);

* {
  font-family: 'Roboto', sans-serif;
  // color: $color-text-1;
}

html, body {
  background: $color-background;
} 

[x-cloak] { 
  display: none; 
}

.text-primary {
  color: $color-primary;
}

.text-color-1 {
  color: $color-text-1;
}

.text-color-2 {
  color: $color-text-2;
}

.text-color-3 {
  color: $color-text-3;
}

.text-success {
  color: $color-success-1;
}

.text-danger {
  color: $color-danger-1;
}


a {
  color: $color-primary;

  &:hover {
    color: $color-primary__hover;
  }
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  font-style: italic;

  &.borderless {
    color: $color-primary;
    padding: 4px 8px;
    // background: rgba(0, 0, 0, 0.123);
    border-radius: 8px;

    &:hover {
      
    }
  }

  &.medium {
    font-size: .9rem;
  }
}

.button-divider {
  &::after {
    position: absolute;
    content: ' ';
    background: rgba(0, 0, 0, 0.253);
    width: 2px;
    height: 16px;
    right: -7px;
  }
}

.button-primary {
  background: $brand-gradient;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.04em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  

  &.fixed-width {
    width: 54px;
  }

  &:hover {
    transform: scale(1.05);
    color: white;
  }

  &.large {
    font-size: 18px;
    padding: 10px 16px;
    width: unset;
  }
}

.button-secondary {
  box-sizing: border-box;
  background: white;
  color: $color-primary;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0em;
  // text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 2px $color-primary,
              0px 1px 2px rgba(0, 0, 0, 0.3);  
  
  display: flex;
  justify-content: center;
  width: fit-content;

  &.fixed-width {
    width: 54px;
  }

  &.medium {
    font-size: 16px;
    padding: 10px 14px;
  }
}



.main-nav {
  background: $brand-gradient;
  padding: 6px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 22px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.04em;

  
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  span {
    color: white;
  }

  .bold {
    font-weight: bold;
  }
}

.session-group__title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $color-text-2;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  position: relative;
  margin-bottom: 6px;

  &::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 40px;
    background: $color-primary;
    left: -46px;
    top: 50%;
    transform: translateY(-1px);
  }

  &::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 40px;
    background: $color-primary;
    right: -46px;
    top: 50%;
    transform: translateY(-1px);
  }
}

.session-group {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-group .session-card {
    margin-bottom: 4px;
}

.session-card {
  background: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid $color-primary;
  padding: 12px 6px 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-content {
    padding-top: 4px;
    display: flex;
    flex-direction: column-reverse;
  }

  &:hover {
    background: $color-background-2;
  }

  &.inset {
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 450px) {
  .session-card {
    width: 100%;
    &.inset {
      width: fit-content;
    }
  }
  
}

@media screen and (min-width: 430px) {
  .session-card {
    border-radius: 8px;
    width: 470px;
  }

  .session-group .session-card {
    margin-bottom: 8px;
  }
}

.session-title {
  font-size: 18px;
  font-weight: 400;
}

.session-metadata {
  display: flex;
  color: $color-text-3;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.5px;
}

.badge-live {
  display: block;
  background: $color-danger-1;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 30px;
  // padding: 8px 8px 0px 8px;
  padding: 2px 8px 1px 8px;
  height: fit-content;
  // line-height: 2px;
}


.bg  {
  transition: all .3s;
  background: $color-text-1;
  opacity: 0;

  &.active {
    display: block;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    z-index: 4;
  }
}

.swipeable-bottom-sheet {
  display: flex;
  align-items: center;
  width: 100%;

  .card {
    height: fit-content;
    position: fixed;
    background: white;  
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, .1);
    z-index: 5;
    transition: all .3s ease-in;
    
    width: 100%;
    bottom: 0;

    &.open {
      transition: all .2s ease-out;
    }
  }

   
  @media screen and (min-width: 500px) {
    .bar {
      display: none;
    }
    .card {
      border-radius: 12px;
      padding-top: 16px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
      width: 500px;
      bottom: unset;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%) scale(.9);
      &.open {
        transform: translate(-50%, -50%) scale(1);
        transition: all .2s ease-out;
      }
    }

    .accent-color-bar {
      border-radius: 0px 0px 12px 12px;
    }
  }

  .bar {
    width: 45px;
    height: 4px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    margin: 0 auto;
    cursor: pointer;
    padding: 0px 0px 0px 4px;
  }

  .pan-area {
    padding: 8px 0px 0px 0px;
  }

  .contents {
    overflow-y: scroll;
    max-height: 100%;
    padding-bottom: calc(100vh * 0.2);
    box-sizing: border-box;
  }
}

.background-light {
  background: $color-background-3;
}

.accent-color-bar {
  width: 100%;
  height: 32px;
  background: $brand-gradient;
}

// * {
//   border: 1px solid red !important;
// }

.toast-container {
  // width: fit-content;
}

.toast {
  position: fixed;
  
  // left: 24px;
  display: flex;
  background: $color-text-2;
  // font-style: italic;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white;
  width: fit-content;
  padding: 12px 26px 12px 22px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px $color-text-3;
  z-index: 20;
  transition: .1s all ease-in;

  box-sizing: content-box;
  bottom: -32px;
  opacity: 0;

  &.show {
    bottom: 16px;
    opacity: 1;
    transition: .1s all ease-out;
  }
}


.beta-badge.light {
  text-transform: uppercase;
  color: $color-text-1;
  background: $color-background;
  color: $color-primary;
  // background: $color-primary;
  // color: white;
  border-radius: 40px;
  padding: 2px 6px 1px 6px;
  font-size: 7px;
  text-shadow: none;
  
  font-style: normal;
  font-weight: bolder;
  letter-spacing: .5px;
  height: fit-content;
  opacity: .9;
}

.banner {
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
  &.info {
    background-color: #4e54c80F;
    border: 2px solid #8f94fb7e;
  }
}

.icon-bubble {
  padding: 12px;
  border-radius: 100%;
  width: fit-content;
  background-color: #4e54c80F;
  border: 2px solid #8f94fb7e;
}

.share-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text-2;

  h2 {
    
  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  .icon-bubble {
    margin-bottom: 2px;
  }
}