:root {
  --color-primary: #4E54C8;
  --color-primary__hover: #3036a3;
  --color-secondary: #8F94FB;

  --color-text-primary: var(--color-primary);

  --color-text-1: #161737;
  --color-text-2: #4B4D6B;
  --color-text-3: #737487;
  --color-text-always-light: #fff;

  --color-background: #F8F8FD;
  --color-background-3: #F3F3FB;

  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary__hover);
  
  --color-card-background: #fff;
  --color-card-background_hover: #fafafa;
  
  --color-modal-background: var(--color-text-1);
  --color-button-secondary: var(--color-primary);
  --color-network-logo-badge: var(--color-text-2);
  
  --color-success-1: #32BD2F;
  --color-danger-1: #C84E4E;

  --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.theme-purple-dark {
  --color-primary: #7D7AFF;
  --color-primary__hover: #3036a3;
  --color-secondary: #8F94FB;

  --color-text-1: #ffffff;
  --color-text-2: #CECED4;
  --color-text-3: #A3A5C2;
  --color-text-always-light: #fff;
  
  
  --color-background: #0B0B28;
  --color-background-3: #242751;
  --color-network-logo-badge: var(--color-primary);
  
  --color-card-background: #22223A;
  --color-card-background_hover: #2C2C49;
  
  --color-modal-background: var(--color-background);
  --color-button-secondary: var(--color-text-1);

  --color-success-1: #3EB43C;
  --color-danger-1: #D44242;
  --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}


.theme-forest-light {
  --color-primary: #009A6F;
  --color-primary__hover: #34B897;
  --color-secondary: #00D1A4;

  --color-background: #F6FEFC;
  --color-background-3: #E5FAF6;

  --color-card-background: #fff;
  --color-card-background_hover: #F6FEFB;

  --color-text-1: #000900;
  --color-text-2: #024537;
  --color-text-3: #849591;
  --color-text-always-light: #fff;
  --color-network-logo-badge: var(--color-text-2);

  --color-success-1: #3EB43C;
  --color-danger-1: #CD4C4A;
  --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.theme-forest-dark {
 --color-primary: #05CFA0;
 --color-primary__hover: #34B897;
 --color-secondary: #238B71;
 
 --color-background: #001B15;
 --color-background-3: #033B2E;
 
 --color-card-background: #022C23;
 --color-card-background_hover: #004234;
 
 --color-text-1: #ffffff;
 --color-text-2: #CECED4;
 --color-text-3: #BCC5C3;
 --color-text-always-light: #fff;
 
  --color-modal-background: var(--color-background);
  --color-button-secondary: var(--color-text-1);
  
  --color-network-logo-badge: #008066;
  
 
 --color-success-1: #3EB43C;
 --color-danger-1: #CD4C4A;
 --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}


.theme-tabasco-light {
  --color-primary: #DF3737;
  --color-primary__hover: #BF1F1F;
  --color-secondary: #9D1A1A;

  --color-background: #FCF3F3;
  --color-background-3: #FEFBFB;

  --color-card-background: #fff;
  --color-card-background_hover: #FEFBFB;

  --color-text-1: #350000;
  --color-text-2: #D43535;
  --color-text-3: #849591;
  --color-text-always-light: #fff;
  --color-network-logo-badge: var(--color-text-2);

  --color-success-1: #3EB43C;
  --color-danger-1: #3A31DD;
  --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.theme-tabasco-dark {
 --color-primary: #CA2121;
 --color-primary__hover: #DE3434;
 --color-secondary: #9D1A1A;
 
 --color-background: #190000;
 --color-background-3: #4F0E0E;
 
 --color-card-background: #511313;
 --color-card-background_hover: #5E1818;
 
 --color-text-1: #ffffff;
 --color-text-2: #FF8766;
 --color-text-3: #EEDFDB;
 --color-text-always-light: #fff;

 --color-text-primary: var(--color-text-2);
 
  --color-modal-background: var(--color-background);
  --color-button-secondary: var(--color-text-1);
  
  --color-network-logo-badge: var(--color-primary);
  --color-link: var(--color-text-2);
  --color-link-hover: #FF5A2C;
 
  --color-success-1: #3EB43C;
  --color-danger-1: #4463D2;
 --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}


.theme-neptune-light {
  --color-primary: #062CE8;
 --color-primary__hover: #0A2AB8;
 --color-secondary: #12236E;

  --color-background: #F7F8FC;
  --color-background-3: #DAE0FB;

  --color-card-background: #fff;
  --color-card-background_hover: #FCFCFD;

  --color-text-1: #001F18;
  --color-text-2: #314FE7;
  --color-text-3: #97A5E6;
  --color-text-always-light: #fff;
  --color-network-logo-badge: var(--color-text-2);

  --color-success-1: #3EB43C;
  --color-danger-1: #D8413E;
  --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.theme-neptune-dark {
 --color-primary: #0073E6;
 --color-primary__hover: #0A2AB8;
 --color-secondary: #2b42ad;
 
 --color-background: #010720;
 --color-background-3: #243EA8;
 
 --color-card-background: #192B75;
 --color-card-background_hover: #1B2F7E;
 
 --color-text-1: #ffffff;
 --color-text-2: #73B7FF;
 --color-text-3: #BCC5C3;
 --color-text-always-light: #fff;

 --color-text-primary: var(--color-text-2);
 
  --color-modal-background: var(--color-background);
  --color-button-secondary: var(--color-text-1);
  
  --color-network-logo-badge: var(--color-card-background_hover);
  
 
 --color-success-1: #3EB43C;
 --color-danger-1: #D24644;
 --brand-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}


* {
  font-family: 'Roboto', sans-serif;
  // color: $color-text-1;
}

html {
  background: var(--color-background);
  color: var(--color-text-1);
} 

body {
  background: var(--color-background);
} 


[x-cloak] { 
  display: none; 
}

.text-primary {
  color: var(--color-text-primary);
}

.text-color-1 {
  color: var(--color-text-1);
}

.text-color-2 {
  color: var(--color-text-2);
}

.text-color-3 {
  color: var(--color-text-3);
}

.text-success {
  color: var(--color-success-1);
}

.text-danger {
  color: var(--color-danger-1);
}


a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}



.atcb_button  {
  color: var(--color-text-1);
}

.atcb_icon svg {
  color: var(--color-button-secondary);
}


.atcb_button.active  {
  color: var(--color-text-1);
  background: var(--color-card-background);
}

.atcb_list_item {
  color: var(--color-text-1);
  background: var(--color-card-background_hover);
}


.button {
  display: flex;
  align-items: center;
  position: relative;
  font-style: italic;

  &.borderless {
    color: var(--color-button-secondary);
    padding: 4px 4px;
    border-radius: 8px;

    &:hover {
      
    }
  }

  &.medium {
    font-size: .9rem;
  }
}

.button-divider {
  &::after {
    position: absolute;
    content: ' ';
    background: rgba(0, 0, 0, 0.253);
    width: 2px;
    height: 16px;
    right: -14px;
  }
}


.button-primary {
  background: var(--brand-gradient);
  color: var(--color-text-always-light);
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.04em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  // text-overflow: ;

  &.fixed-width {
    width: 54px;
  }

  &.round {
    padding: 6px 12px;
    // border-radius: 100%;
  }

  &:hover {
    transform: scale(1.05);
    color: white;
  }

  &.large {
    font-size: 18px;
    padding: 10px 16px;
    width: unset;
  }
}



.button-secondary {
  box-sizing: border-box;
  background: var(--color-card-background);
  color: var(--color-button-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0em;
  // text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 2px var(--color-primary),
              0px 1px 2px rgba(0, 0, 0, 0.3);  
  
  display: flex;
  justify-content: center;
  width: fit-content;

  &.fixed-width {
    width: 54px;
  }

  &.medium {
    font-size: 16px;
    padding: 10px 14px;
  }
}




.main-nav {
  background: var(--brand-gradient);
  padding: 6px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 22px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.04em;

  
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  span {
    color: white;
  }

  .bold {
    font-weight: bold;
  }
}


.session-group__title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-text-2);
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  position: relative;
  margin-bottom: 6px;

  &::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 40px;
    background: var(--color-primary);
    left: -46px;
    top: 50%;
    transform: translateY(-1px);
  }

  &::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 40px;
    background: var(--color-primary);
    right: -46px;
    top: 50%;
    transform: translateY(-1px);
  }
}

.session-group {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-group .session-card {
    margin-bottom: 4px;
}



.session-card {
  background: var(--color-card-background);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--color-primary);
  padding: 12px 6px 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-content {
    padding-top: 4px;
    display: flex;
    flex-direction: column-reverse;
  }

  &:hover {
    background: var(--color-card-background_hover);
  }

  &.inset {
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 450px) {
  .session-card {
    width: 100%;
    &.inset {
      width: fit-content;
    }
  }
  
}

@media screen and (min-width: 450px) {
  .session-card {
    border-radius: 8px;
    width: 470px;
  }

  .session-group .session-card {
    margin-bottom: 8px;
  }
}

.session-title {
  font-size: 18px;
  font-weight: 400;
}



.session-metadata {
  display: flex;
  color: var(--color-text-3);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.5px;
}


.badge-live {
  display: block;
  background: var(--color-danger-1);
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 30px;
  // padding: 8px 8px 0px 8px;
  padding: 2px 8px 1px 8px;
  height: fit-content;
  // line-height: 2px;
}


.bg  {
  transition: all .3s;
  background: var(--color-modal-background);
  opacity: 0;

  &.active {
    display: block;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    z-index: 4;
  }
}



.swipeable-bottom-sheet {
  display: flex;
  align-items: center;
  width: 100%;

  .card {
    height: fit-content;
    position: fixed;
    background: var(--color-card-background);  
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, .1);
    z-index: 5;
    transition: all .3s ease-in;
    
    width: 100%;
    bottom: 0;

    &.open {
      transition: all .2s ease-out;
    }
  }

   
  @media screen and (min-width: 500px) {
    .bar {
      display: none;
    }
    .card {
      border-radius: 12px;
      padding-top: 16px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
      width: 500px;
      bottom: unset;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%) scale(.9);
      &.open {
        transform: translate(-50%, -50%) scale(1);
        transition: all .2s ease-out;
      }
    }

    .accent-color-bar {
      border-radius: 0px 0px 12px 12px;
    }
  }

  .bar {
    width: 45px;
    height: 4px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    margin: 0 auto;
    cursor: pointer;
    padding: 0px 0px 0px 4px;
  }

  .pan-area {
    padding: 8px 0px 0px 0px;
  }

  .contents {
    overflow-y: scroll;
    max-height: 100%;
    padding-bottom: calc(100vh * 0.2);
    box-sizing: border-box;
  }
}


.background-light {
  background: var(--color-background-3);
}



.accent-color-bar {
  width: 100%;
  height: 32px;
  background: var(--brand-gradient);
}

// * {
//   border: 1px solid red !important;
// }

.toast-container {
  // width: fit-content;
}



.toast {
  position: fixed;
  
  // left: 24px;
  display: flex;
  background: var(--color-text-2);
  // font-style: italic;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white;
  width: fit-content;
  padding: 12px 26px 12px 22px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px var(--color-text-3);
  z-index: 20;
  transition: .1s all ease-in;

  box-sizing: content-box;
  bottom: -32px;
  opacity: 0;

  &.show {
    bottom: 16px;
    opacity: 1;
    transition: .1s all ease-out;
  }
}




.beta-badge.light {
  text-transform: uppercase;
  background: var(--color-background);
  color: var(--color-primary);
  // background: $color-primary;
  // color: white;
  border-radius: 40px;
  padding: 2px 6px 1px 6px;
  font-size: 9px;
  text-shadow: none;
  
  font-style: normal;
  font-weight: bolder;
  letter-spacing: .5px;
  height: fit-content;
  opacity: .9;
}




.icon-bubble {
  padding: 12px;
  border-radius: 100%;
  width: fit-content;
  // background-color: #4e54c80F;
  // border: 2px solid #8f94fb7e;
  background: var(--color-card-background);
  box-shadow: inset 0px 0px 0px 2px var(--color-primary),
              0px 1px 2px rgba(0, 0, 0, 0.3);  
}


.share-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-2);

  h2 {

  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  .icon-bubble {
    margin-bottom: 2px;
  }
}

.ios-prevent-scroll {
  overflow: hidden;
}

.announcement-banner {
  width: fit-content;
  font-size: 0.88rem;

  &.info {
    background-color: var(--color-card-background_hover);
    border: 2px solid var(--color-secondary);
  }
}

.banner {
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
  &.info {
    background-color: var(--color-card-background_hover);
    border: 2px solid var(--color-secondary);
  }
}



@media screen and (max-width: 600px) {
  .announcement-banner {
    width: 100%;
    padding: 8px;
    font-size: 0.88rem;
  }  
}

@media screen and (min-width: 601px) {
  .announcement-banner {
    border-radius: 12px;
    padding: 12px;
    margin-top: 12px;
  }  
}

